.cube{
    position: absolute;
    z-index: -2;
    transition: all 1s ease-in-out;
}


@media screen and (max-width: 800px) {

    .cube{
        left: 0 !important;
        height: 100vh !important;
        width: 100vw !important;
        
    }
}